body {
    position: relative;
    width: 1440px;
    height: 1700px;

    background: #57A5A7;
}

header {
    position: absolute;
    width: 1519px;
    height: 150px;

    top: -8px;
    left: -8px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.NL{
    position: absolute;
width: 190.31px;
height: 10px;
left: 550px;
top: 50px;

background: #dd0000;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-around;

}

#Linha1 {
    position: absolute;
    width: 110px;
    height: 0px;
    left: 450px;
    top: 65px;

    border: 5px solid #F00000;
    transform: rotate(-90deg);
}

#Banner {
    position: absolute;
    width: 1519px;
    height: 546px;
    left: -8px;
    top: 219px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Banner.png);
}

#T1 {
    position: absolute;
    width: 623.26px;
    height: 182.73px;
    left: 69px;
    top: 249.49px;

    font-family: 'Open Sans';
    font-style: normal;
    font-size: 30px;
    line-height: 65px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#T2 {
    position: absolute;
    width: 600px;
    height: 245px;
    left: 900px;
    top: 450px;

    font-family: 'Open Sans';
    font-style: normal;
    font-size: 55px;
    line-height: 110px;
    text-align: center;

    color: #ffffff;

    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transform: rotate(-0.15deg);
}

#Linha2 {
    position: absolute;
    width: 1405px;
    height: 0px;
    left: 45px;
    top: 840.53px;

    border: 5px solid #F00000;
    transform: rotate(-0.09deg);
}

