@font-face {
    font-family: "Open-Sans-Bold";
    src: url(Fontes/OpenSans_Condensed-Bold.ttf);
}

@font-face {
    font-family: "Open-Sans-SemiBold";
    src: url(Fontes/OpenSans_SemiCondensed-Bold.ttf);
}

@font-face {
    font-family: "Open-Sans-Extrabold";
    src: url(Fontes/OpenSans-ExtraBold.ttf);
}

* {
    background-color: #57A5A7 ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open-Sans-SemiBold";
    text-decoration: none;
    border: none;
}

header {
    background-color: white;
    /* width: 1440px; */
    height: 158px;
}